# 仮想環境
pyenv_dl/

# ライブラリ
multimodal/

# 実験結果（大容量）
bachelor/my_research/results/
bachelor/existing_research/results/

# 大容量ファイル
*.pth
bachelor/existing_research/ieice/**/traffic_one_hot_log.csv

# 修士研究の実験出力・不要物
master/experiments/
master/saved/
master/Repetita.zip

# キャッシュ
__pycache__/
*.pyc
.ipynb_checkpoints/

# Windowsサムネイルキャッシュ
Thumbs.db
*:Zone.Identifier